@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-terminal-active-input {
  position: relative;
}

.react-terminal-active-input .terminal-ghost {
  top: 0;
  left: var(--ghost-left, 0px);
  color: #6b7785;
  opacity: 0.6;
  pointer-events: none;
  white-space: pre;
  font: inherit;
  line-height: inherit;
}
